*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: releway;
    src: url(../font/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../font/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsB;
    src: url(../font/poppins/Poppins-Black.ttf);
}
@font-face {
    font-family: relewayB;
    src: url(../font/raleway/Raleway-Black.ttf);
}
@font-face {
    font-family: rb;
    src: url(../font/raleway/Raleway-Bold.ttf);
}



:root{
    --orange: #DA722C;
    --blue: #057ADA;
    --whitesomke: #E8F7FB;
    --darkBlue: #023047;
    --black: #070917;
    --purple: #6F7DFB;
}